/* .align p {
    font-size: 24px;
}

.align p span {
    font-size: 16px;
    vertical-align: super;
} */

/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* .decoration p {
    font-size: 58px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: red;
    line-height: 40px;
} */

.background {
    width: 500px;
    height: 500px;

    /* background-color: red; */
    /* background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/1579/images/hero_small/HI_115201.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    /* background: url(https://c402277.ssl.cf1.rackcdn.com/photos/1579/images/hero_small/HI_115201.jpg) no-repeat center; */
}